build/
build/*.js
dist/
node_modules/
src/azusa-player-mobile/
.snapshots/
*.min.js

# ytbi/bgutils; copied code doesnt need our eslinting
src/utils/bgutils/Constants.ts
src/utils/mediafetch/ytbi.ts
src/utils/mediafetch/ytpot.ts