html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

/* #app-container {
  background: radial-gradient(#e3daff54, #32156a57)
}

.MutiBox-root {
  backdrop-filter: blur(59px);
} */
.homepage-bgimage {
  height: 100%;
  width: 100%;
  overflow: clip;
  object-fit: cover;
  position: absolute;
  left: 0px;
  z-index: -1;
}

.homepage-bgimage-mobile {
  height: 100%;
  width: 100%;
  overflow: clip;
  object-fit: cover;
  z-index: -1;
}

.react-jinke-music-player-main {
  position: absolute;
  z-index: 0;
}
/*
// https://github.com/kenmingwang/azusa-player/blob/master/public/img/bg3.png?raw=true 
*/
.react-jinke-music-player-main .music-player-panel {
  width: 100%;
  background-size: cover;
}

.react-jinke-music-player-main .music-player-panel .panel-content .img-content {
  background-position-y: center;
  background-position-x: center;
  background-size: 160%;
}

::-webkit-scrollbar {
  width: '14px';
  height: '18px';
  background: 'transparent';
}

::-webkit-scrollbar-thumb {
  height: '29px';
  border: '5px solid rgba(0, 0, 0, 0)';
  background-clip: 'padding-box';
  border-radius: '7px';
  -webkit-border-radius: '7px';
}

#blur-glass {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #ffffff80;
  backdrop-filter: blur(35px);
}

@-webkit-keyframes fill {
  from {
    background-size: 100% 100%;
  }
  to {
    background-size: 100% 0;
  }
}

@keyframes fill {
  from {
    background-size: 100% 100%;
  }
  to {
    background-size: 100% 0;
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: rotate(10deg);
  }
  5% {
    -webkit-transform: rotate(-10deg);
  }
  10% {
    -webkit-transform: rotate(10deg);
  }
  15% {
    -webkit-transform: rotate(-10deg);
  }
  20% {
    -webkit-transform: rotate(10deg);
  }
  25% {
    -webkit-transform: rotate(-10deg);
  }
  30% {
    -webkit-transform: rotate(10deg);
  }
  35% {
    -webkit-transform: rotate(-10deg);
  }
  40% {
    -webkit-transform: rotate(10deg);
  }
  45% {
    -webkit-transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
  }
  55% {
    -webkit-transform: rotate(-10deg);
  }
  60% {
    -webkit-transform: rotate(10deg);
  }
  65% {
    -webkit-transform: rotate(-10deg);
  }
  70% {
    -webkit-transform: rotate(10deg);
  }
  75% {
    -webkit-transform: rotate(-10deg);
  }
  80% {
    -webkit-transform: rotate(10deg);
  }
  85% {
    -webkit-transform: rotate(-10deg);
  }
  90% {
    -webkit-transform: rotate(10deg);
  }
  95% {
    -webkit-transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
  }
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(10deg);
  }
  5% {
    -webkit-transform: rotate(-10deg);
  }
  10% {
    -webkit-transform: rotate(10deg);
  }
  15% {
    -webkit-transform: rotate(-10deg);
  }
  20% {
    -webkit-transform: rotate(10deg);
  }
  25% {
    -webkit-transform: rotate(-10deg);
  }
  30% {
    -webkit-transform: rotate(10deg);
  }
  35% {
    -webkit-transform: rotate(-10deg);
  }
  40% {
    -webkit-transform: rotate(10deg);
  }
  45% {
    -webkit-transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
  }
  55% {
    -webkit-transform: rotate(-10deg);
  }
  60% {
    -webkit-transform: rotate(10deg);
  }
  65% {
    -webkit-transform: rotate(-10deg);
  }
  70% {
    -webkit-transform: rotate(10deg);
  }
  75% {
    -webkit-transform: rotate(-10deg);
  }
  80% {
    -webkit-transform: rotate(10deg);
  }
  85% {
    -webkit-transform: rotate(-10deg);
  }
  90% {
    -webkit-transform: rotate(10deg);
  }
  95% {
    -webkit-transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
  }
}

.cnh_holding {
  background: -webkit-linear-gradient(white, white) rgb(255, 215, 235) no-repeat
    0 0;
  background: linear-gradient(white, white) rgb(255, 215, 235) no-repeat 0 0;
  mix-blend-mode: multiply;
  background-size: 100% 100%;
  -webkit-animation:
    fill 2s forwards,
    wiggle 2s;
  animation:
    fill 2s forwards,
    wiggle 2s;
}
