name: auto-release
on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]'
  workflow_dispatch:
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get Tag
        id: get_tag
        run: echo "::set-output name=tag::${GITHUB_REF#refs/tags/}"

      - name: Display Tag
        run: echo "${{ steps.get_tag.outputs.tag }}"

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Setup Yarn
        uses: threeal/setup-yarn-action@v2.0.0

      - name: Get current date
        id: date
        run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

      - name: Install dependencies
        run: yarn; git submodule update --init --recursive

      - name: Install dependencies
        run: yarn

      - name: 'Create env file'
        run: |
          echo "${{ secrets.ENV_FILE }}" > .env

      - name: Get Recent Commit Tag
        id: get_commit_tag
        run: |
          COMMIT_TAG=$(git describe --tags --abbrev=0)
          echo "COMMIT_TAG=${COMMIT_TAG}" >> $GITHUB_ENV

      - name: Display Commit Tag
        run: |
          echo "Commit Tag: $COMMIT_TAG"

      - name: yarn build
        run: |
          yarn build
          zip -r NoxPlayer.zip build

      - name: pack crx
        uses: cardinalby/webext-buildtools-chrome-crx-action@v2
        with:
          # zip file made at the packExtensionDir step
          zipFilePath: 'NoxPlayer.zip'
          crxFilePath: 'NoxPlayer.crx'
          privateKey: ${{ secrets.PEM_KEY }}

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          name: 'Unpacked ${{env.COMMIT_TAG}}'
          files: |
            NoxPlayer.zip
            NoxPlayer.crx
          generate_release_notes: true

      - name: Edge Publish
        uses: wdzeng/edge-addon@v2
        with:
          product-id: ${{ secrets.EDGE_PRODUCT_ID }}
          zip-path: NoxPlayer.zip
          api-key: ${{ secrets.EDGE_API_KEY }}
          client-id: ${{ secrets.EDGE_CLIENT_ID }}
